*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #3f3f3f;
    cursor: default
}

body{
    background: #fff;    
}

input{
    width: 75%;
    text-align: center;
}
td{
    height: 50px;
}

.checkbox {
    width: 20px;
    height: 20px;
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

#box{
    width: 500px;
    margin: 20px auto;
    border: 2px dashed #555;
}

.tab{
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 100%;
    background: #aaa;
}

.info{
    text-align: right;
    line-height: 100%;
}

.control{
    text-align: center;
    line-height: 100%;
}

.indicator{
    width: 20px;
    height: 20px;
    border: 1px solid #3f3f3f;
    border-radius: 2px;
}

.lamp{
    border-radius: 50%;
}
